{% extends "layout.html" %}

{% block content %}
<div class="container p-4">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Inteligencia artificial</h1>
            <p class="lead">Herramientas para Web</p>
            <a href="https://www.youtube.com/watch?v=p2bCeqKHzCo&t=306s">Link de creacion de ChatBot</a><p></p>
            <a href="https://www.youtube.com/watch?v=diE2e86qEtw"> Otro Link de ChatBot</a><p></p>
            <a class="btn btn-primary btn-lg" href="https://uigradients.com/#GrapefruitSunset" role="button">colores de fondo</a>
        </div>
    </div>
</div>
{% endblock %}